/qtbase-everywhere-src-5.15.2.tar.xz
/kde-5.15-rollup-20211124.patch.gz
/kde-5.15-rollup-20211206.patch.gz
/kde-5.15-rollup-20220107.patch.gz
/kde-5.15-rollup-20220131.patch.gz
/qtbase-everywhere-opensource-src-5.15.3.tar.xz
/kde-5.15-rollup-20220304.patch.gz
/qtbase-everywhere-opensource-src-5.15.4.tar.xz
/kde-5.15-rollup-20220516.patch.gz
/qtbase-everywhere-opensource-src-5.15.5.tar.xz
/kde-5.15-rollup-20220713.patch.gz
/kde-5.15-rollup-20220824.patch.gz
/qtbase-everywhere-opensource-src-5.15.6.tar.xz
/kde-5.15-rollup-20220920.patch.gz
/qtbase-everywhere-opensource-src-5.15.7.tar.xz
/kde-5.15-rollup-20221031.patch.gz
/qtbase-everywhere-opensource-src-5.15.8.tar.xz
/kde-5.15-rollup-20230105.patch.gz
/kde-5.15-rollup-20230227.patch.gz
